@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Comfortaa", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2933;
}
